@import "../../default-theme.scss";

.content-create-container {
    padding: 20px 30px 20px 30px;
    .header {
        font-size: 32px;
        color: rgb(33, 33, 33);
        font-weight: bold;
    }
    .body {
        padding-top: 10px;
        .input-field {
            padding-bottom: 6px;
        }
        input {
            width: 300px;
            max-width: 80%;
        }
    }

    .footer {
        padding-top: 5px;
    }
}