@import "../../default-theme.scss";

.content-event-container {
    padding: 20px 30px 20px 30px;
    min-width: 300px;
    overflow-x: auto;
    .header {
        font-size: 32px;
        color: rgb(33, 33, 33);
        font-weight: bold;
        .title:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        .sub-header {
            font-size: 24px;
        }
    }
    .realtime-toggle {
        font-size: 12px;
        text-align: right;
    }
    .no-event {
        text-align: center;
        font-size: 18px;
        background-color: rgb(248, 94, 94);
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        margin-top: 15px;
        border-radius: 5px;
    }
    .body {
        .event-header {
            padding: 20px 10px 10px 10px;
            border-bottom: 1px solid rgb(197, 194, 194);
            .event-header-item {
                display: inline-block;
            }
            .event-header-item:nth-child(1) {
                width: 200px;
            }
            .event-header-item:nth-child(2) {
                width: calc(100% - 350px);
            }
            .event-header-item:nth-child(3) {
                width: 100px;
            }
            
            .event-header-item:nth-child(4) {
                width: 50px;
            }
            @media only screen and (max-width: 600px) {
                .event-header-item:nth-child(1) {
                    width: calc(100% - 150px);
                }
                .event-header-item:nth-child(2) {
                    display: none;
                }
            }
        }
        .event-list {
            .event-item {
                background-color: rgba(222, 222, 222, 0.7);
                padding: 10px;
                border-radius: 10px;
                margin-top: 5px;

                .event-item-column {
                    display: inline-block;
                }
                .event-item-column:nth-child(1) {
                    width: 200px;
                }
                .event-item-column:nth-child(2) {
                    width: calc(100% - 350px);
                }
                .event-item-column:nth-child(3) {
                    width: 100px;
                }
                
                .event-item-column:nth-child(4) {
                    width: 50px;
                }
                @media only screen and (max-width: 600px) {
                    .event-item-column:nth-child(1) {
                        width: calc(100% - 150px);
                    }
                    .event-item-column:nth-child(2) {
                        display: none;
                    }
                }
            }
            .event-item:hover {
                cursor: pointer;
                background-color: rgba(234, 234, 234, 0.7);
            }
        }
    }
}