.attendees-section {
    overflow-x: auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    .table-attendees {
        margin-top: 10px;
        border-collapse: collapse;
        width: 100%;
        tr {
            tr:nth-child(odd) {
                background-color: rgb(245, 243, 243);
            }
            td:nth-child(1) {
                width: 110px;
            }
            
            td:nth-child(3) {
                width: 90px;
            }
            
            td:nth-child(4) {
                width: 100px;
            }
            
            td:nth-child(5) {
                width: 110px;
                vertical-align: middle;
            }
            td {
                padding: 10px;
                button {
                    padding: 3px;
                    min-width: 40px;
                    font-size: 10px;
                }
            }
        }
        thead td {
            border-bottom: 1px solid black;
            font-weight: bold;
        }
        tbody td {
            border-bottom: 1px solid grey;
        }
    }
}