.zone-section {
    .create-zone-section {
        .create-list {
            display:table-cell;
            vertical-align: middle;
            padding-right: 10px;
        }
        svg {
            font-size: 50px;
        }
    }
    .zones-section {
        .table-zones {
            margin-top: 10px;
            border-collapse: collapse;
            width: 100%;
            tr td:nth-child(1) {
            }
            tr td:nth-child(2) {
                width: 50px;
                text-align: center;
            }    
            tr td:nth-child(3) {
                text-align: right;
                width: 300px;
                button {
                    margin-left: 5px;
                    padding: 3px;
                    min-width: 40px;
                    font-size: 10px;
                }
            }
            tr:nth-child(odd) {
                background-color: rgb(245, 243, 243);
            }
            thead td {
                border-bottom: 1px solid black;
                font-weight: bold;
            }
            td {
                padding: 10px;
            }
            tbody td {
                border-bottom: 1px solid grey;
            }
        }
    }
}