.zone-logs-section {
}

.zone-logs-filters {
    padding-bottom: 10px;
    .zone-logs-filter {
        display: inline-block;
    }
    .zone-logs-filter:nth-child(2) {
        float: right;
    }
}

.logs-section {
    width: 100%;
    overflow-x: auto;
    .table-log {
        border-collapse: collapse;
        width: 100%;

        thead {
            tr {
                td:nth-child(4) {
                    width: 100px;
                    text-align: right;
                }
            }
        }
        tr {
            td:nth-child(1) {
                width: 100px;
            }
            td:nth-child(3) {
                width: 80px;
            }
            td:nth-child(4) {
                width: 100px;
                text-align: right;
            }

            td:nth-child(5) {
                width: 100px;
                text-align: left;
            }
        }
        td {
            padding: 10px;
        }
        thead td {
            border-bottom: 1px solid black;
        }
        .center {
            text-align: center;
        }
        tr:nth-child(odd) {
            background-color: rgb(245, 243, 243);
        }
        thead td {
            border-bottom: 1px solid black;
            font-weight: bold;
        }
        td {
            padding: 10px;
        }
        tbody td {
            border-bottom: 1px solid grey;
        }
    }
}
