.attendee-table-logs {
    margin-top: 25px;
    border-collapse: collapse;
    width: 100%;

    thead {
        tr {
            td:nth-child(4) {
                width: 100px;
                text-align: right;
            }
        }
    }
    tr {
        @media only screen and (max-width: 600px) {
            td:nth-child(1) {
                width: 100px;
                text-align: right;
            }
        }
        td:nth-child(1) {
            width: 150px;
            text-align: left;
        }
        td:nth-child(3) {
            width: 80px;
        }
    }
    td {
        padding: 10px;
    }
    thead td {
        border-bottom: 1px solid black;
    }
    .center {
        text-align: center;
    }
    tr:nth-child(odd) {
        background-color: rgb(245, 243, 243);
    }
    thead td {
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    td {
        padding: 10px;
    }
    tbody td {
        border-bottom: 1px solid grey;
    }
}

.attendee-info {
    height: 300px;
    .table-attendee-info {
        tr {
            td:nth-child(1) {
                font-weight: bold;
            }
            td {
                padding: 10px;
                svg {
                    font-size: 20px;
                }
            }
        }
        .consent-row td {
            vertical-align: top;
        }
    }
}
