.event-detail-action-section {
    padding-left: 20px;
}

.action-table-header, .action-table-body {
    border-collapse:  collapse;
    width: 100%;
}
.action-table-header thead td {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.action-table-body td {
    padding-top: 20px;
    border-bottom: 0.5px solid grey;
    padding-bottom: 10px;
}

.action-table tr td:nth-child(1) {
    width: 70px;
}
.action-table tr td:nth-child(2) {
    width: 70px;
}
.action-table tr td:nth-child(4) {
    width: 100px;
}

.count-status {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: right;
    font-weight: bold;
}