.event-list-section {
    overflow-x: hidden;
    .event-list-status {
        text-align: right;
        padding: 10px 20px 10px 20px;
        height: 40px;
    }
    .header-container {
        border-bottom: 2px solid black;;
        -webkit-box-shadow:0px 1px 1px #de1dde;
        -moz-box-shadow:0px 1px 1px #de1dde;
        box-shadow:0px 1px 1px #de1dde;
    } 
    .body-container {
        max-height: calc(100vh - 162px);
        overflow: auto;
        height: calc(100vh - 162px);
    }
    .table-event-list {
        width: 100%;
        border-collapse: collapse;
        thead {
           td {
               font-size: 24px;
               padding: 10px;
               height: 30px;
           }
        }
        tbody {
            tr:nth-child(odd) {
                td {
                   background-color: rgb(241, 241, 241);
                }
            }
            td {
               font-size: 18p;
               padding: 10px;
            }
            tr:hover {
                td {
                    background-color: grey !important;
                }
                cursor: pointer;
                color: white;
            }
        } 
        tr {
           td:nth-child(1){
               width: 100px;
           }
           td:nth-child(3){
               width: 20px;
               text-align: center;
           }
           td:nth-child(4){
               width: 100px;
               text-align: center;
           }
        }
    } 
}

.event-list-header {
    .event-list-header-item {
        display: inline-block;
    }
    .event-list-header-item:nth-child(2) {
        font-size: 16px;
    }
}