@import "../../default-theme.scss";

.sidebar-container {
    .sidebar-section {
        padding: 16px;
        border-bottom: 1px solid $sectionbordercolor;
    }
    .header {
        background-color: $sectionheaderbgcolor;
        color: $sectionheadercolor !important;
        font-size: 30px;
        .role {
            font-size: 14px;
        }
    }

    .btn:hover {
        cursor: pointer;
    }

    .MuiListItemIcon-root {
        color: $sectionheadercolor !important;
    }

    .menu-collapse {
        .MuiButtonBase-root {
            padding-left: 3em;
        }
    }
    .active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}