.login-section {
    text-align: center;
    margin-top: 50px;
    .login-input-section:nth-child(1) {
        font-size: 36px;
        font-weight: bold;
    }
    .login-input-section {
        padding: 5px;
        input {
            text-align: center;
        }
    }
}