@import "../../default-theme.scss";

.event-detail-section {
    .btn:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    margin: 20px;
    .event-action-area {
        text-align: right;
    }
    .event-detail-tabs {
        .tab-item {
            font-size: 18px;
            width: 120px;
            text-align: center;
            display: inline-block;
            padding: 10px;
            cursor: pointer;
        }
        .tab-item:hover {
            background-color: rgb(248, 248, 248);
        }
        .selected-tab { 
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: rgb(240, 240, 240);   
        }
        .selected-tab:hover {
            background-color: rgb(240, 240, 240);   
        }
    }

    .event-detail {
        background-color: rgb(240, 240, 240);
        border-radius: 3px;
        padding: 20px;
        
        .end-section {
            padding-top: 20px;
            text-align: right;
            button {
                font-size: 14px;
                width: 100px;
                max-width: 40%;
            }
        }

        .detail-content {
            .table-detail {
                width: 100%;
                tr td:nth-child(1) {
                    padding: 5px;
                    font-size: 20px;
                    width: 150px;
                    font-weight: bold;
                }
                .consent {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
                tr {
                    .consent-label {
                        font-size: 16px !important;
                        font-weight: normal !important;
                        padding-left: 2em !important;
                    }
                }
                .age-ranges-label {
                    vertical-align: bottom;
                    svg {
                        font-size: 22px;
                    }
                }
                .age-range-label {
                    font-size: 16px;
                    font-weight: normal;
                    svg {
                        font-size: 16px;
                    }
                }
            }
            .table-detail tr:nth-child(1) {
                td {
                    font-size: 30px;
                    text-decoration: underline;
                }
            }
        }
    }
}

.event-detail-container {
    .detail-list {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-top: 20px;
        .detail-item {
            padding-top: 10px;
            button {
                margin-top: 5px;
                width: 100%;
                max-width: 450px;
            }
        }

        .btn-save {
            width: 100px !important;
            height: 45px;
            margin-left: 5px;
        }

        .center {
            padding-top: 20px;
            text-align: left;
        }
    }

    .fullscreen {
        width: 100%;
    }
    @media only screen and (max-width: 600px) {
        .detail-list {
            width: 100%;
        }
    }
}