.admin-create-section {
    padding: 20px;
    .create-form {
        .create-form-item {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            button {
                height: 50px;
            }
        }
    }
    .admin-data {
        margin-top: 20px;
        .account-item {
            margin-top: 10px;
            display: table;
            background-color: rgb(168, 228, 243);
            width: 300px;
            height: 40px;
            padding: 10px;
            font-weight: bold;
            border-radius: 10px;
            button {
                width: 30px;
                min-width: 30px;
            }
            .account-username {
                font-size: 20px;
                display: table-cell;
                vertical-align: middle;
                width: 50%;
            }
            .account-action {
                display: table-cell;
                vertical-align: middle;
                text-align: right;
                width: 50%;
            }
        }
    }
}