@import "default-theme.scss";
.app {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  .app-sidebar {
    position: absolute;
    left: 0px;
    width: 256px;
    background-color: $sidebarbgcolor;
    color: $textcolor;
    height: 100vh;
    transition: all .5s;
  }
  .app-content {
    position: absolute;
    left: 256px;
    width: calc(100% - 256px);
    height: 100vh;
    transition: all .5s;
    overflow-x: auto;

    .top-bar {
      background-color: gainsboro;
      height: 50px;
      svg {
        font-size: 50px;
      }
      .top-bar-list {
        display: table;
        .top-bar-item {
          display: table-cell;
          vertical-align: middle;
        }
        .top-bar-item:nth-child(2) {
          font-size: 30px;
          font-weight: bold;
          padding-left: 10px;
        }
      }
    }
    .content-bar {
      background-color: white;
      height: calc(100% - 50px);
      overflow-y: auto;
    }
  }

  .btn {
    cursor: pointer;
  }

  .danger {
    background-color: rgb(184, 31, 31);
    color: white;
  }

  .danger:hover {
    background-color: rgb(141, 21, 21);
  }
  

  .success {
    background-color:rgb(42, 223, 42);
    color: rgb(20, 20, 20);

  }

  .success:hover {
    background-color:rgb(33, 175, 33);
    color: rgb(20, 20, 20);
  }
}